*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Happy+Monkey&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Orbitron&family=Outfit:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
    font-family: "Orbitron", sans-serif;
}

.hac{
    min-height: 100vh;
    background: linear-gradient(190deg,#12043D,#22899C);
    border: 25px soldi rgb(247, 0, 255);
    position: relative;
    gap: 10px;

}


.A{
    height: 100px;
    width: 100px;
    border: 2px solid rgb(0, 255, 47);
    position: absolute;
    left: 1000px;
    top: 300px;
}

.B{
    height: 100px;
    width: 100px;
    border: 2px solid rgb(0, 255, 47);
    position: absolute;
    left: 1000px;
}

.C{
    height: 100px;
    width: 100px;
    border: 2px solid rgb(0, 255, 47);
    position: absolute;
    left: 1000px;
}

.D{
    height: 100px;
    width: 100px;
    border: 2px solid rgb(0, 255, 47);
    position: absolute;
    left: 1000px;
}




