*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Happy+Monkey&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Orbitron&family=Outfit:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
    font-family: "Orbitron", sans-serif;
}



body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(145deg,#01151a,#02171d);
    gap: 20px;
}




.ai{
    height: 75vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid orangered;
    position: relative;
}


.A{ 
    position: absolute;
    height: 500px;
    width: 500px;
    border: 3px solid red;
}

.btn{
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    color: aqua;
    font-weight: bolder;
    background: black;
    cursor: pointer;
}

.btn:hover{
    color: yellowgreen;
}


@media (max-width: 768px){
   
    body{
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px 0;
        gap: 20px;
    }


   .ai{
    height: auto;
    min-height: 300px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
   }

   .A{
     width: 250px;
     height: 250px;

     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
   }

   .knappen{
    width: 100%;
    display: flex;
    justify-content: center;
   }

   .btn{
    width: 90%;
    max-width: 300px;
    padding: 15px 30px;
    font-size: 18px;
    min-height: 48px;
   }



}







