*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Happy+Monkey&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Orbitron&family=Outfit:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
    font-family: "Orbitron", sans-serif;
}




body{
    min-height: 100vh;
    background: linear-gradient(275deg,#474c85,#163962,#8969ba,#474c85);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ABC{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.A{
    height: 250px;
    width: 250px;
    background-color: aqua;
    border: solid 0.3px orangered;
    transform: scale(0.1);
}

.B{
    height: 250px;
    width: 250px;
    background-color: aqua;
    border: solid 0.3px orangered;

}
.C{
    height: 250px;
    width: 250px;
    background-color: aqua;
    border: solid 0.3px orangered;

}
.D{
    height: 250px;
    width: 250px;
    background-color: rgb(255, 149, 0);
    border: solid 0.3px orangered;
    transform: scale(0.1);
}

@media(max-width: 768px){
  .D{
    height: 120px;
    width: 120px;
    background-color: crimson;
  }
}

